.mycontent{
  margin-top: 20px;
}

.myleft{
  background-color: #d3d3d3;
  margin-left: 13px;
  border-radius: 4px;
}

.myright{
  background-color: white;
  margin-left: 60px;
  border-radius: 4px;
}

.panel-heading{
  height: 30px;
  text-align: left;
  margin-top: 5px;
}
.fa-info{
  margin-right:5px;
}

.panel-body{
  margin-bottom: 6px;

}

.info{
  padding: 8px;
  background-color: white;
  height: auto;
  width: 100%;
}

.filter-results{
  padding: 8px;
  background-color: white;
  height: auto;
  width: 100%;
  margin-top: 12px;
}

.breaks{
  height: 30px;
  padding: 10px;
  background-color: #d3d3d3;
  width: 100%;
  font-size: 10px;
}

input[type="range"]{
  outline: none;
  width: 220px;
  border-radius: 500px;
  background-color: black!important;
}

.nums{
  margin-left: 100px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #d3d3d3;

}


input[type=checkbox]{
  background-color: red;
}

.panel-title-left{
    display: inline;
}

.span-right{
  float: right;
  margin-left: 40px;
}

.panel-title-right{
  float: right;

}

.cars-panel{
  text-align: center;
  margin-top: 30px;
}

.my-middle-details{
  text-align: left!important;
}

.car-details{
  color: blue;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.detail-text{
  font-size: 13px;
}

.select-btn{
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

.price{
  color: black;
  font-weight: bold;
  font-size: 25px;
}



#myform{
  width: 100%;
  height: 200px;
  background-color: white!important;
  margin-top: 20px;
  border-top: 5px solid orange!important;
}

.title{
  margin-top: 15px;
}

#location{
  width: 150px;
}

label{
  font-size: 10px;
}

.airport{
  color: blue;
  text-decoration: underline;
  text-decoration-style: dashed;
  margin-left: 23px;
}

#pick-up-date{
  width: 230px;
}

.update{
  background-color: orange;
  margin-top: 30px;
}

.btn-car{
  border: 1px solid black;
  background-color: white;
}
