<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
         <p><strong>Renty</strong></p>
         <p>Home</p>
         <p>Privacy</p>
         <p>Services</p>
         <p>Partners</p>
         <p>News</p>
      </div>

      <div class="col-md-2">
        <p><strong>About</strong></p>
        <p>Latest News</p>
        <p class="press">Press Releases</p>
        <p>Careers</p>
        <p>Terms of Use</p>
      </div>

      <div class="col-md-2">
        <p><strong>Support</strong></p>
        <p>Contact Us</p>
        <p>Find your invoice</p>
        <p>FAQ</p>
      </div>

      <div class="col-md-3">
        <p><strong> <i class="fa fa-twitter"></i> Recent tweets </strong></p>
        <p>@bestwebsoft velit, vitae tincindunt orci
         Proin vitae auctor lectus
         https://bestwebsoft.com/
         </p>
        <p>posted 2 days ago </p>
      </div>

      <div class="col-md-3">
        <div class="box">
          <div class="numbers">
             <p>ONLINE SUPPORT</p>
             <p>+(555) 555 - 28 - 28 </p>
             <p class="sales">sales@bestwebsoft.com</p>
          </div>
        </div>
        <i class="fa fa-facebook"> Like <span> 117 </span> </i> <i class="fa fa-twitter"> Tweet <span>692</span></i> <i class="fa fa-instagram"><span>70</span></i>
      </div>

    </div>
    <div class="bottom">
      <i class="fa fa-car bottom-icon">Renty</i>   <p class="trademark">Renty Company Inc,120 CA 15th Avenue-Suite 214</p>
    </div>
  </div>
</div>
