
  <ul class="nav mytabs nav-tabs nav-justified">
    <li class="nav-item"><a class="nav-link"href=""><span class="myspan"> &#10003; </span>Create Request</a></li>
    <li class="nav-item"><a class="nav-link" href=""><span class="myspan"> 2 </span>Choose a Car</a></li>
    <li class="nav-item"><a class="nav-link" href=""><span class="myspan"> 3 </span>Choose extras</a></li>
    <li class="nav-item"><a class="nav-link" href=""><span class="myspan"> 4 </span>Review & Book </a></li>
  </ul>

<app-search></app-search>
