<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="navbar-brand"><i class="fa fa-car"></i> Renty</div>
         <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
         </button>


      <div class="collapse navbar-collapse" id ="navbarMenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <a href="#"  class="nav-link btn help-btn">Help</a>
          </li>

          <li class="nav-item">
             <a href="#"  class="nav-link">Terms & Conditions</a>
          </li>

          <li class="nav-item">
             <a href="#"  class="nav-link">About</a>
          </li>

          <li class="nav-item">
             <a href="#"  class="nav-link">Contact Us</a>
          </li>

        </ul>

        <div class="down">
        <ul class="navbar-nav ml-auto up-btn">
          <li class="nav-item">
            <div class="dropdown">
            <button class="btn btn-french dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-france"></i>french
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            </ul>
            </div>
          </li>

          <li class="nav-item">
            <div class="dropdown">
            <button class="btn btn-country dropdown-toggle" type="button" data-toggle="dropdown"> <i class="fa fa-location"></i>Choose Country
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            </ul>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto down-btn">
          <li class="nav-item">
             <a href="#" class="nav-link btn btn-register"> Register</a>
          </li>

          <li class="nav-item">
             <a href="#" class="nav-link btn btn-signin"> SignIn</a>
          </li>
        </ul>
        </div>



      </div>

</nav>

<app-progress></app-progress>
